<div [@routerTransition]>
   
    <h2>My Basket</h2>
    <br>

    <div *ngIf="!isOnPayment">
    <div class="row">
        <div class="col-lg-6">
            <h4>Total price (with taxes) : {{totalPrice}}€</h4>
            <br>
            <button class="btn btn-primary text-right" (click)="goToPayment()">Buy this Basket</button>        
        </div>
    </div>
    <br>
    <br>

    <h5>My articles</h5>
    <br>
    <table class="table" id="maTable">
        <thead class="thead-inverse">
        <tr>
            <th>Article</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price HT</th>
            <th>Taxe</th>
            <th>Total Price</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of basketList">
            <td>{{item.product_choose.name}}</td>
            <td><img [src]="urlServer+item.product_choose.picture" height="40" width="40"></td>
            <td>{{item.number}}</td>
            <td>{{item.product_choose.priceHT*item.number}}€</td>
            <td>{{item.product_choose.tva}}%</td>
            <td>{{((item.product_choose.tva*indicetwo)+indice)*(item.product_choose.priceHT*item.number)}}€</td>
            <td><button class="btn btn-danger" (click)="deleteArticle(item)">Delete Article</button></td>
         
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    
    <!--<h5>My past purchases</h5>-->

    </div>

    <div *ngIf="isOnPayment">

          
        <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Payment Details
                                </h3>
                                <div class="checkbox pull-right">
                                    <label>
                                        <input type="checkbox" />
                                        Remember
                                    </label>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                <div class="form-group">
                                    <label for="cardNumber">
                                        CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="cardNumber" placeholder="Valid Card Number"
                                            required autofocus />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7 col-md-7">
                                        <div class="form-group">
                                            <label for="expityMonth">
                                                EXPIRY DATE</label>
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                            </div>
                                            <div class="col-xs-6 col-lg-6 pl-ziro">
                                                <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 col-md-5 pull-right">
                                        <div class="form-group">
                                            <label for="cvCode">
                                                CV CODE</label>
                                            <input type="password" class="form-control" id="cvCode" placeholder="CV" required />
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <button class="btn btn-primary btn-lg btn-block">{{totalPrice}}</button>
                        </ul>
                        <br/>
                        <button class="btn btn-success btn-lg btn-block">Pay</button>
                        <br>
                        <br>
                        <button class="btn btn-danger" (click)="goBack()" >Back</button>  
                    </div>

                            <div class="col-xs-6">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <img src="http://www.pngall.com/wp-content/uploads/2016/03/Paypal-Logo-PNG.png" height="70" width="200">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="business" value="klaydsoul@klaydsoul.com">                       
                                <input type="image" name="submit"
                                  src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                                  alt="PayPal - The safer, easier way to pay online">
                              </form>
                            
                            </div>
                    </div>   
                  
            </div>
            
            
    </div>


</div>
