<div [@routerTransition]>
   
    <h2>My Basket</h2>
    <br>

    <div *ngIf="!isOnPayment">
    <div class="row">
        <div class="col-lg-6">
            <h4>Total price (with taxes) : {{totalPrice}}€</h4>
            <br>
            <button class="btn btn-primary text-right" (click)="goToPayment()">Buy this Basket</button>
        </div>
    </div>
    <br>
    <br>

    <table class="table" id="maTable">
        <thead class="thead-inverse">
        <tr>
            <th>Article</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price HT</th>
            <th>Taxe</th>
            <th>Total Price</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of basketList">
            <td>{{item.product_choose.name}}</td>
            <td><img [src]="urlServer+item.product_choose.picture" height="40" width="40"></td>
            <td>{{item.number}}</td>
            <td>{{item.product_choose.priceHT*item.number}}€</td>
            <td>{{item.product_choose.tva}}%</td>
            <td>{{((item.product_choose.tva*indicetwo)+indice)*(item.product_choose.priceHT*item.number)}}€</td>
            <td><button class="btn btn-danger" (click)="deleteArticle(item)">Delete Article</button></td>
         
        </tr>
        </tbody>
    </table>

    </div>

    <div *ngIf="isOnPayment">
           
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                <!-- Saved buttons use the "secure click" command -->
                <input type="hidden" name="cmd" value="_s-xclick">
              
                <!-- Saved buttons are identified by their button IDs -->
                <input type="hidden" name="hosted_button_id" value="221">
              
                <!-- Saved buttons display an appropriate button image. -->
                <input type="image" name="submit"
                  src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                  alt="PayPal - The safer, easier way to pay online">
                <img alt="" width="1" height="1"
                  src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
              
              </form>
    </div>


</div>
