<div [@routerTransition]>
    <h2>Catalog</h2>
    <br>
    <div *ngIf="onCatalog" class="row">
        
        <div *ngFor="let item of productList; let i = index" class="col col-sm-4">
            <div class="card mb-3">
                <div class="card-header">        
                    <p class="text-left"><b>{{item.name}}</b> &nbsp;&nbsp;Price (Without Tax) : {{item.priceHT}} € </p>
                </div>
                <div class="card-body">
                    <img [src]="urlServer+item.picture" width="100%" height="250">
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="gotoDetails(item)" >See details</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-info btn-sm" *ngIf="isASeller" (click)="gotoUpdate(item)" >Update</button>
                </div>        
            </div>     
        </div>
    </div>

    <div *ngIf="onDetails">
            <div class="row">
                    <div class="col-lg-6">
                        <h4>Article Title : {{selectedItem.name}}</h4>
                        <br>
                        <label>Description :</label>
                        <p>{{selectedItem.description}}</p>                                      
                        <label>Price WT : {{selectedItem.priceHT}} €</label>
                        <br>
                        <label>Taxes : {{selectedItem.tva}}%</label>
                        <br>
                        <br>
                        <label>Stockage place : {{selectedItem.stock_place}}</label>
                        <br>
                        <label>Estimated delivery time : {{selectedItem.delivery_time}} day(s)</label>
                        <br>
                        <br>
                        <label>Number to buy :</label>
                        <input type="number" name="number" [(ngModel)]="numberToBuy" class="form-control">
                        <br>
                        <button class="btn btn-primary" (click)="addToBasket()" >Add to Basket</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="goBack()" >Back</button>                     
                    </div>
                    <div class="col-lg-6">
                        <img [src]="urlServer+selectedItem.picture" width="100%" height="250">
                    </div>
            
                   
                    </div>
    </div>

    <div *ngIf="onUpdate">
        <div class="row">
                <div class="col-lg-6">

                        <label>Title</label>
                        <input type="text" name="title" [(ngModel)]="selectedItem.name" maxlength="40" class="form-control">
                        <br>
                        <label>Description</label>
                        <textarea class="form-control" [(ngModel)]="selectedItem.description" maxlength="400" name="descript" rows="4"></textarea>
                        <br>
                        <label>Estimated delivery time in open days</label>
                        <input type="number" [(ngModel)]="selectedItem.delivery_time" name="timedelivery" class="form-control">
                        <br>
                        <label for="exampleInputFile">Illustration image</label>
                        <input type="file" (change)="OnImagePicked($event)" class="form-control-file" name="fileInput" id="exampleInputFile">
                        <br>
                        <button class="btn btn-primary" (click)="updateProduct()">Update</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                       
                            
            
                    
                    </div>
                    <div class="col-lg-6">
                            <label>Price HT</label>
                            <input type="number" name="price" [(ngModel)]="selectedItem.priceHT" class="form-control">
                            <br>
                            <label>TVA percentage</label>
                            <input type="number" name="tva" [(ngModel)]="selectedItem.tva" class="form-control">
                            <br>
                            <label>Stockage Place</label>
                            <input type="text" name="place" [(ngModel)]="selectedItem.stock_place" maxlength="40" class="form-control">
                    </div>
        </div>  

        <br>
        <br>

        <div class="row">
                <div class="col-lg-6">
                    <label>Set the product Active/Inactive : </label>                 
                    <select [(ngModel)]="selectedItem.up" class="form-control">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                    </select>
                    <br>
                    <button class="btn btn-primary" (click)="setActive()">Update active</button>
                    <div *ngIf="isUp"><label>Update done !</label></div>
                </div>
                <div class="col-lg-6">
                        <label>Set the product Forward/Backward : </label>
                        <select [(ngModel)]="selectedItem.forward" class="form-control">
                                <option value="1">Forward</option>
                                <option value="0">Back</option>
                        </select>
                        <br>
                        <button class="btn btn-primary" (click)="setForward()">Update forward</button>
                        <div *ngIf="isForward"><label>Update done !</label></div>

                </div>
        </div>
        <br>
        <br>
        <div class="row">
                <div class="col-lg-6">
                    <label>Stok from inventory : {{inventoryOfSelectedItem.stock}} </label>  
                    <br>  
                    <label>Date of last inventory :  {{inventoryOfSelectedItem.date | date:'dd/MM/yyyy à HH:mm:ss'}}</label>
                    <br>
                    <label>Add stock : </label>
                    <br>
                    <input type="number" name="stock" [(ngModel)]="stockToAdd" class="form-control">
                    <br>
                    <button class="btn btn-primary" (click)="addStock()">Validate</button>
                    <br>
                    <label>Make a new Inventory of current stock :</label>
                    &nbsp;&nbsp;<button class="btn btn-primary" (click)="refreshInventory()">Refresh Inventory</button>
                </div>
        </div>
        <br>
        <br>
        <button class="btn btn-danger" (click)="goBack()" >Back</button> 
    </div>

</div>
