<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <a  [routerLink]="['/dashboard']"><img src="assets/images/logo.png" width="150px" class="user-avatar" /></a>
            <h1>Connectez-vous</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)]="email" class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div *ngIf="failLog" class="alert-danger">Login ou mot de passe incorrect.</div>
                    <div *ngIf="errorField" class="alert-danger">Veuillez renseigner tous les champs.</div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn-secondary rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
            
        </div>
    </div>
</div>
