<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
                <a [routerLink]="['/dashboard']"><img class="user-avatar" src="assets/images/logo.png" width="150px" /></a>
            <h1>Sign up </h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="firstname" [(ngModel)]="firstname" class="form-control input-underline input-lg" id="frstname" placeholder="{{ 'Prénom' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastname" [(ngModel)]="name" class="form-control input-underline input-lg" id="lastname" placeholder="{{ 'Nom' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" name="mail" [(ngModel)]="mail" class="form-control input-underline input-lg" id="email" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="pass" placeholder="{{ 'Mot de passe' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="cpassword" [(ngModel)]="confirmpassword" class="form-control input-underline input-lg" id="cpass" placeholder="{{ 'Confirmer mot de passe' | translate }}">
                    </div>
                    <div *ngIf="alreadyExist" class="alert-danger">This email is already taken</div>
                    <div *ngIf="errorField" class="alert-danger">Please fill the formular</div>
                </div>
                <a class="btn rounded-btn" (click)="signIn()">{{ 'Register' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Log in' | translate }}</a>


                <div class="card-block">
                        <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
                        <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
                        <button class="btn btn-social-icon btn-linkedin mx-1" (click)="signInWithLinkedIn()"><span class="fa fa-linkedin"></span></button>
                </div>
                  
                 
                <h6 class="card-header">
                        Social Login Test 1 
                </h6>
                    <!--<div class="card-block"></div>
                    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
                    <div class="card-block">
                        <h4 class="card-title">{{ user.name }}</h4>
                        <p class="card-text">{{ user.email }}</p>
                  </div>-->
                
            </form>
        </div>
    </div>
</div>

